
sudo: required
language: bash

env:
  global:
    - ARG_MUSICBOT_VERSION=1.9.7
  matrix:
    - ARG_ARCHITECTURE=x86_64 ARG_DISTRIBUTION=ubuntu-16.04
    - ARG_ARCHITECTURE=arm32v6 ARG_DISTRIBUTION=alpine-3.6

services:
  - docker

before_install:
  - > 
    if [ "$ARG_ARCHITECTURE" == "x86_64" ]; then
      TAG_LATEST=latest
      TAG_VERSION=$ARG_MUSICBOT_VERSION
    else
      TAG_LATEST=$ARG_ARCHITECTURE-latest
      TAG_VERSION=$ARG_ARCHITECTURE-$ARG_MUSICBOT_VERSION
    fi

install:
  - >
    if [ "$ARG_ARCHITECTURE" == "arm32v6" ] || [ "$ARG_ARCHITECTURE" == "armhf" ]; then
      wget https://github.com/multiarch/qemu-user-static/releases/download/v2.11.0/x86_64_qemu-arm-static.tar.gz
      docker run --rm --privileged multiarch/qemu-user-static:register --reset
    fi
  - docker build -t glego/musicbot:$TAG_LATEST -t glego/musicbot:$TAG_VERSION --build-arg ARG_MUSICBOT_VERSION=$ARG_MUSICBOT_VERSION -f ./dockerfiles/$ARG_DISTRIBUTION/$ARG_ARCHITECTURE/Dockerfile . 

script:
  - docker images -a

after_success:
  - >
    if [ "$TRAVIS_BRANCH" == "master" ]; then
      echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
      docker push glego/musicbot
    fi